*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}

.logo{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.logo img{
  width: 250px;
}

.new-todo{
  text-align: center;
  margin-bottom: 30px;
}

.new-todo h3{
  color: red;
  margin: 15px;
}

.new-todo input{
  width: 250px;
  padding: 8px;
  margin-right: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}

.new-todo button{
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(190, 183, 183);
}

.new-todo button:hover{
  background-color: rgb(223, 217, 217);
}

.todos-list{
  background-color: #dcfafa;
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
}

.todos-list ul{
  list-style: none;
}

.todos-list ul li{
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid rgb(177, 173, 173);
}

.todos-list ul li:hover{
  background-color: white;
}

.todos-list ul li:last-child{
  border: none;
}

.todos-list ul li.checked{
  color: rgb(145, 138, 138);
  text-decoration: line-through;
}

.todos-list ul i{
  float: right;
  cursor: pointer;
}